.main-chat
  .main-chat__top
    .main-chat__group-info-items
      .main-chat__group-info-items__data
        %p.main-chat__group-info-items__name
          = @group.name
        %p.main-chat__group-info-items__members
          Member:
          - @group.users.each do |user|
            = user.name
      = link_to 'Edit', edit_group_path(@group), class: 'main-chat__group-info-items__edit-btn'
  .main-chat__body
    = render @messages
  .main-chat__form
    = form_for [@group, @message], html: { class: 'main-chat__form-items' } do |f|
      .main-chat__form-items__area
        = f.text_field :content, placeholder: 'type a message', class: 'main-chat__form-items__message'
        = f.label :image, class: 'main-chat__form-items__image-icon' do
          = icon('fas', 'image')
          = f.file_field :image
      = f.submit 'Send', class: 'main-chat__form-items__send-btn'