.side-bar
  .side-bar__top
    .side-bar__top-items
      %p.side-bar__top-items__user-name
        = current_user.name
      %ul.side-bar__top-items__icons
        %li.side-bar__top-items__icon
          = link_to new_group_path, class: 'side-bar__top-items__icon-link' do
            = icon('fas', 'edit')
        %li.side-bar__top-items__icon
          = link_to edit_user_path(current_user), class: 'side-bar__top-items__icon-link' do
            = icon('fas', 'cog')
  .side-bar__body
    %ul.side-bar__group-list
      - current_user.groups.each do |group|
        %li.side-bar__group-list__items
          = link_to group_messages_path(group), class: 'side-bar__group-list__link' do
            %p.side-bar__group-list__items__name
              = group.name
            %p.side-bar__group-list__items__top-message
              = group.show_last_message
