.side-bar
  .side-bar__top
    .side-bar__top-items
      %p.side-bar__top-items__user-name
        = current_user.name
      %ul.side-bar__top-items__icons
        %li.side-bar__top-items__icon
          = link_to '#', class: 'side-bar__top-items__icon-link' do
            = icon('fas', 'edit')
        %li.side-bar__top-items__icon
          = link_to edit_user_path(current_user), class: 'side-bar__top-items__icon-link' do
            = icon('fas', 'cog')
  .side-bar__body
    %ul.side-bar__group-list
      %li.side-bar__group-list__items
        %p.side-bar__group-list__items__name
          My Group #1
        %p.side-bar__group-list__items__top-message
          まだメッセージがありません
      %li.side-bar__group-list__items
        %p.side-bar__group-list__items__name
          My Group #2
        %p.side-bar__group-list__items__top-message
          まだメッセージがありません
